name: Release

on:
  push:
    tags:
      - "bridgetown_directus/v*"
  workflow_dispatch:

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4"
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake test
      - uses: rubygems/release-gem@v1
